/*====Fonts====*/
@font-face {
    font-family: SugarPunch;
    src: url(Sugarpunch.otf);
}

/*====Body====*/
body {
  position: relative;
  background-image: url("cloudy.png");
  background-repeat: repeat-x;;
  overflow: hidden;
}

/*====Header====*/
.Snappy {
  font-family: SugarPunch;
  color: aqua;
  text-align: center;
  margin-top: 150px;
  font-size: 80px;
  text-shadow: 2px 2px 8px #000000;
}

.doSome {
  text-align: center;
  font-family: SugarPunch;
  color: white;
  margin-top: 4px;
  text-shadow: 2px 2px 3px #000000;
}

/*====Input and buttons====*/
#forma {
  width: 1000px;
  margin: 0px auto;
}


.inBox {
  width: 100%;
  margin: 0px auto;
  margin-left: 40px;
  margin-top: 8%;
}


.play {
  background-color: aqua;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 13px;
  font-family: SugarPunch;
  font-size: 22px;
  border-radius: 40px;
  border-color: aqua;
  border-style: none;
}


#st, #cty {
  width: 20%;
  padding: 10px;
  font-size: 25px;
  border-radius: 25px;
  border-style:  solid;
}

#btn {
  padding-top: 15px;
  padding-bottom: 5px;
  width: 10%;
  font-family: SugarPunch;
  font-size: 20px;
  border-radius: 30px;
  background-color: aqua;
  border-style: none;

}

.txtBox {
  width: 30%;
  margin: 0px auto;
  text-align: center;
  font-family: SugarPunch;
}

#status {
  color: white;
  text-shadow: 2px 2px 3px #000000;
}

/*==== Footer ====*/
#ins {
  font-family: SugarPunch;
  font-size: 28px;
  color: aqua;
  text-shadow: 2px 2px 3px #000000;
}

#ins2 {
  font-family: SugarPunch;
  font-size: 20px;
  color: aqua;
  text-shadow: 2px 2px 3px #000000;
}

#en {
  color: red;
}

#spa{
  color: red;
}
